<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  
  <!-- Atmosphere -->
	<servlet>
	  	<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		
		<init-param>
			<param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
			<param-value>org.atmosphere.gwt20.server.GwtRpcInterceptor,
						org.atmosphere.interceptor.HeartbeatInterceptor
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>org.atmosphere.interceptor.HeartbeatInterceptor.heartbeatFrequencyInSeconds</param-name>
			<param-value>30</param-value>
		</init-param>
		
		<init-param>
			<param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
			<param-value>org.atmosphere.cache.UUIDBroadcasterCache</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
  	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/imotionWebMessengerTestCase/atmosphere/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/imotionWebMessengerTest/atmosphere/*</url-pattern>
	</servlet-mapping>
	
	
  
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>imotionWebMessengerTestCase.jsp</welcome-file>
	</welcome-file-list>

</web-app>
