## Commands
snippet if
	if (${1}) {
		${2}//TODO:
	}

snippet else {
	else {
		${1}//TODO:
	}

snippet else if
	else if (${1}) {
		${2}//TODO:
	}

snippet for
	for ${1} in (${2} .. ${3}) {
		${4}//TODO:
	}

snippet foreach
	foreach (${1} : ${2}) {
		${3}//TODO:
	}

snippet while
	while (${1}) {
		${2}//TODO:
	}
snippet sendCommand
	sendCommand("${1}");
	
snippet readUntil
	readUntil("${1}");