<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<listener>
		<listener-class>com.selene.arch.exe.core.appli.session.implbase.http.AEMFTHttpSessionListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>AEMFTLauncher</servlet-name>
		<servlet-class>com.selene.arch.exe.AEMFTServletGAE</servlet-class>
		<init-param>
			<param-name>dirbase</param-name>
			<param-value>WEB-INF/</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/config/</param-value>
		</init-param>
		<init-param>
			<param-name>abspath</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>fconfig</param-name>
			<param-value>selene.properties</param-value>
		</init-param>
		<init-param>
			<param-name>channel</param-name>
			<param-value>02</param-value>
		</init-param>
		<init-param>
			<param-name>visor</param-name>
			<param-value>nop</param-value>
		</init-param>
		<init-param>
			<param-name>apps</param-name>
			<param-value>DSLAM</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
    	<servlet-name>AEMFTLauncher</servlet-name>
    	<url-pattern>/launcher</url-pattern>
  	</servlet-mapping>

	<!-- Server Connection -->
	<!-- GWT-RPC -->
		<servlet>
			<servlet-name>serverConnectionRPC</servlet-name>
			<servlet-class>com.selene.arch.exe.gwt.server.comm.AEGWTCommServerServletRPC</servlet-class>
			<load-on-startup>0</load-on-startup>
		</servlet>
	
		<servlet-mapping>
			<servlet-name>serverConnectionRPC</servlet-name>
			<url-pattern>/dslamBusDesktop/serverConnectionRPC</url-pattern>
		</servlet-mapping>
		
		<!-- Generic-GWT -->
		<!-- <servlet-mapping> -->
		<!-- <servlet-name>genericServerConnectionGWT</servlet-name> -->
		<!-- <url-pattern>/dslamBusDesktop/genericServerConnectionGWT</url-pattern> -->
		<!-- </servlet-mapping> -->
	
		<!-- <servlet> -->
		<!-- <servlet-name>genericServerConnectionGWT</servlet-name> -->
		<!-- <servlet-class>com.selene.arch.exe.gwt.server.comm.AEGWTGenericServerCommServletGWT -->
		<!-- </servlet-class> -->
		<!-- <load-on-startup>0</load-on-startup> -->
		<!-- </servlet> -->
		
		<!--  Generic-J2EE -->
	<!-- <servlet> -->
	<!-- <servlet-name>genericServerConnectionJ2EE</servlet-name> -->
	<!-- <servlet-class> com.selene.arch.exe.bus.comm.AEMFTGenericServerCommServletJ2EE -->
	<!-- </servlet-class> -->
	<!-- <load-on-startup>0</load-on-startup> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>genericServerConnectionJ2EE</servlet-name> -->
	<!-- <url-pattern>/dslamBusDesktop/genericServerConnectionJ2EE</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- remote logging for client side (gwt) -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>remoteLogging</servlet-name> -->
<!-- 		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl -->
<!-- 		</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>remoteLogging</servlet-name> -->
<!-- 		<url-pattern>/m2mDesktop/remote_logging</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- BLOB SERVLET -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>BlobServeServlet</servlet-name> -->
<!-- 		<url-pattern>/BLOBSERVE</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	<!-- BLOBS IN SESSION -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>BlobServeServlet</servlet-name> -->
<!-- 		<servlet-class>com.selene.arch.exe.core.appli.blobservlet.AEMFTBlobServeServlet</servlet-class> -->
<!-- 	</servlet> -->
	
	<!-- GAE REMOTE API -->
<!-- 	<servlet> -->
<!-- 		<display-name>Remote API Servlet</display-name> -->
<!-- 		<servlet-name>RemoteApiServlet</servlet-name> -->
<!-- 		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet -->
<!-- 		</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>RemoteApiServlet</servlet-name> -->
<!-- 		<url-pattern>/remote_api</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	<!-- CRON JOBS -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>CronJobs</servlet-name> -->
<!-- 		<servlet-class>com.selene.arch.exe.bus.cron.AEMFTCronJobsServiceImpl</servlet-class> -->
<!-- 	</servlet> -->
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>CronJobs</servlet-name> -->
<!-- 		<url-pattern>/cron</url-pattern> -->
<!-- 	</servlet-mapping> -->

<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>CronJobs</web-resource-name> -->
<!-- 			<url-pattern>/cron/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>admin</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 	</security-constraint> -->
	
	<!-- Objectify -->
<!-- 	<filter> -->
<!-- 		<filter-name>ObjectifyFilter</filter-name> -->
<!-- 		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>ObjectifyFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DSLAMBusDesktopModule.jsp</welcome-file>
	</welcome-file-list>

</web-app>
