<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     version="3.0"> 

	<listener>
		<listener-class>com.selene.arch.exe.core.appli.session.implbase.http.AEMFTHttpSessionListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>AEMFTLauncher</servlet-name>
		<servlet-class>com.selene.arch.exe.AEMFTServletGAE</servlet-class>
		<init-param>
			<param-name>dirbase</param-name>
			<param-value>WEB-INF/</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/config/</param-value>
		</init-param>
		<init-param>
			<param-name>abspath</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>fconfig</param-name>
			<param-value>selene.properties</param-value>
		</init-param>
		<init-param>
			<param-name>channel</param-name>
			<param-value>02</param-value>
		</init-param>
		<init-param>
			<param-name>visor</param-name>
			<param-value>nop</param-value>
		</init-param>
		<init-param>
			<param-name>apps</param-name>
			<param-value>DSLAM</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
    	<servlet-name>AEMFTLauncher</servlet-name>
    	<url-pattern>/launcher</url-pattern>
  	</servlet-mapping>

	<!-- Server Connection -->
	<!-- GWT-RPC -->
	<servlet>
		<servlet-name>serverConnectionRPC</servlet-name>
		<servlet-class>com.selene.arch.exe.gwt.server.comm.AEGWTCommServerServletRPC</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>serverConnectionRPC</servlet-name>
		<url-pattern>/dslamBusDesktop/serverConnectionRPC</url-pattern>
	</servlet-mapping>
	
	<!-- FILE UPLOAD SERVLET -->
	<servlet>
		<servlet-name>fileUpload</servlet-name>
		<servlet-class>com.selene.arch.exe.bus.comm.AEMFTFileUploadServerCommServlet</servlet-class>
		<multipart-config>
    		<location>/tmp</location>
    		<max-file-size>20848820</max-file-size>
    		<max-request-size>418018841</max-request-size>
    		<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileUpload</servlet-name>
		<url-pattern>/dslamBusDesktop/fileUpload</url-pattern>
	</servlet-mapping>
	
	<!-- Atmosphere -->
	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
			<param-value>org.atmosphere.gwt20.server.GwtRpcInterceptor</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
			<param-value>org.atmosphere.cache.UUIDBroadcasterCache</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/dslamBusDesktop/atmosphere/*</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DSLAMBusDesktopModule.jsp</welcome-file>
	</welcome-file-list>

</web-app>
