table {
	border-color: none;
}

.viewer-toolbar {
	position: relative;
	top: 40px;
	left: 10px;
}

.viewer-toolbar .action {
	width: 30px;
	height: 30px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.viewer-toolbar .zoom_in_action{
	background-image: url("../images/zoom_in.png");
}

.viewer-toolbar .zoom_out_action {
	background-image: url("../images/zoom_out.png");
}

.viewer-toolbar .ground_visibility_on {
	background-image: url("../images/ground_on.png");
}

.viewer-toolbar .ground_visibility_off {
	background-image: url("../images/ground_off.png");
}

.viewer-toolbar .gyre_on {
	background-image: url("../images/gyre_on.png");
}

.viewer-toolbar .gyre_off {
	background-image: url("../images/gyre_off.png");
}
