table {
	border-color: none;
}

.viewer-canvas {
	top: -100px;
	position: relative;
	z-index: -1;
}

.viewer-barContainer {
	padding-left: 10px;
	padding-right: 10px;
}

.viewer-toolbar {
	padding-top: 10px;
}

.viewer-toolbar .action {
	width: 25px;
	height: 25px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	display: block;
	margin-right: 4px;
}

.viewer-toolbar .zoom_in_action{
	background-image: url("../images/zoom_in.png");
}

.viewer-toolbar .zoom_out_action {
	background-image: url("../images/zoom_out.png");
}

.viewer-toolbar .ground_visibility_on {
	background-image: url("../images/ground_on.png");
}

.viewer-toolbar .ground_visibility_off {
	background-image: url("../images/ground_off.png");
}

.viewer-toolbar .gyre_on {
	background-image: url("../images/gyre_on.png");
}

.viewer-toolbar .gyre_off {
	background-image: url("../images/gyre_off.png");
}

.viewer-leftBarContainer {
	height: 95px;
}

.viewer-progressbar {

}

.progressbar-text {
	font-size: 12px;
	padding-left: 5px;
	color: #3F3F3F;
 }
 
.progressbar-remaining {
	font-size: 12px;
	font-style: italic;
}

.progressbar-outer {
	
}

.progressbar-inner {
	border: 1px solid #C0C0C0;
	margin: 1px;
}

.progressbar-bar {
	width: 5px;
	height: 15px;
	margin: 1px;
}

.progressbar-fullbar {
	background: #95B4FF;
}

.progressbar-blankbar {
	background: #868686;
}


.viewer-toolbarMove {
	
}

.viewer-toolbarMoveHP {
	width: 60px;
	position: relative;
	top: 25px;
	left: -5px;
}

.viewer-toolbarMoveVP {
	height: 60px;
	position: relative;
	top: -17px;
	right: 23px;
}

.viewer-toolbarMove .arrow {
	width: 24px;
	height: 24px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	display: block;
}

.viewer-toolbarMove .arrow-left {
	background-image: url("../images/arrow_fill_left.png");
}

.viewer-toolbarMove .arrow-right {
	background-image: url("../images/arrow_fill_right.png");
}

.viewer-toolbarMove .arrow-down {
	background-image: url("../images/arrow_fill_down.png");
}

.viewer-toolbarMove .arrow-up {
	background-image: url("../images/arrow_fill_up.png");
}
