/**************************************
*			LAYOUT PROJECT
***************************************/
.chronium_studio-projectsLayout {
	height: 100%;
	position: relative;
}

.chronium_studio-projectsLayout-bottomZone {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	height: auto;
}

.chronium_studio-projectsLayout-bottomZone-right {
	height: 100%;
	padding: 0px;
	position: relative;
/* 	background: no-repeat url('../images/chroniumIDE-logo400-transparent.png') center center; */
}

.chronium_studio-projectsLayout-projectWorkZone-header {
	position: absolute;
	top: 0px;
	width: 100%;
}

.chronium_studio-projectsLayout-projectWorkZone {
	position: absolute;
	top: 35px;
	width: 100%;
	bottom: 0px;
}

.chronium_studio-projectsLayout-projectWorkZone > div {
	height: 100%;
}

.chronium_studio-projectsLayout-projectWorkZone .chronium_studio-projectsLayout-contentInBox
	{
	border-radius: 3px;
	box-shadow: 0px 0px 3px #B8B8B8;
	margin: 20px;
	width: auto !important;
	height: auto !important;
}

.chronium_studio-projectsLayout-projectWorkZone-header-infoZone-modIndicator
	{
	margin-right: -8px;
}

.chronium_studio-projectsLayout-listZone {
	padding-right: 0px;
	padding-left: 0px;
	height: 100%;
}

.chronium_studio-projectsLayout-listZone .nav-list label {
	width: 100%;
	height: 30px;
	padding: 6px 10px;
}

.chronium_studio-projectsLayout-listZone .nav-list .tree label {
	padding-left: 20px;
}

.chronium_studio-projectsLayout-listZone .nav-list .tree .chronium_studio-treeMenuItem-level3 > label {
	padding-left: 30px;
}

.chronium_studio-projectsLayout-listZone .nav-list .tree .chronium_studio-treeMenuItem-level3 a {
	padding-left: 40px;
}

.chronium_studio-projectsLayout-listZone .nav-list .tree .nav-header label {
	padding-left: 40px;
}

.chronium_studio-projectsLayout-listZone .nav-list .tree a {
	padding-left: 30px;
}

.chronium_studio-list-container .nav-divider {
	margin: 5px 0px;
}

.chronium_studio-list-container .nav-list {
	padding-right: 0px;
	padding-left: 0px;
}

.chronium_studio-list-container label {
	margin-bottom: 0px;
}

.chronium_studio-projectsLayout-listZone .nav-list label:ACTIVE,.chronium_studio-projectsLayout-listZone .nav-list label:FOCUS
	{
	background-color: #EEEEEE;
}

.chronium_studio-newProjectForm {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 380px;
}

.chronium_studio-executeForm {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 240px;
	height: 200px;
}

.chronium_studio-projectsLayout-zoneHeader {
	height: 35px;
	background-color: #F2F1F0;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
}

.chronium_studio-projectsLayout-projectWorkZone-header-infoZone {
	padding: 0px;
}

.aegwt-bootstrap-tree-menu-item-with-button {
	width: 87% !important;
}

.aegwt-bootstrap-tree-menu-item-button {
	display:visible;
	padding: 6px 4px;
	border-radius: 0px;
	height: 30px;
	border: medium none;
	width: 13%;
	margin-top: -3px;
	background-color: #EEEEEE;
}

.aegwt-bootstrap-tree-menu-item-button-invisible {
	display: none;
}

.chronium_studio-projectsLayout-zoneHeader>.gwt-Label {
	float: left;
	margin-left: 5px;
}

.chronium_studio-projectsLayout-projectWorkZone-header-infoZone .gwt-Label
	{
	float: left;
	margin-left: 10px;
}

.chronium_studio-list-container .tree-toogler:hover { 
    background-color: #EEEEEE;
}

.chronium_studio-executeForm-inputZone ul.scrollable-menu {
    height: auto;
    max-height: 115px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chronium_studio-executeForm-inputZone button {
	width: 200px;
	text-align: left;
}

/**************************************
*			LAYOUT PREFERENCES
***************************************/
.chronium_studio-preferencesLayout {
	height: 100%;
	position: relative;
}

.chronium_studio-preferencesLayout-bottomZone {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	height: auto;
}

.chronium_studio-preferencesLayout-bottomZone-right {
	height: 100%;
	padding: 0px;
	position: relative;
}

.chronium_studio-preferencesLayout-workZone-header {
	height: 35px;
	background-color: #F2F1F0;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
}

.chronium_studio-preferencesLayout-workZone {
	height: 100%;
	padding: 0px;
}

.chronium_studio-preferencesLayout-workZone > div {
	height: 100%;
}

.chronium_studio-preferencesLayout-workZone > div > div {
	background-color: #ffffff;
}

.chronium_studio-preferencesLayout-workZone .chronium_studio-preferencesLayout-contentInBox {
	border-radius: 3px;
	box-shadow: 0px 0px 3px #B8B8B8;
	margin: 20px;
	width: auto !important;
	height: auto !important;
}

.chronium_studio-preferencesLayout-workZone-header-infoZone-modIndicator {
	margin-right: -8px;
}

.chronium_studio-preferencesLayout-menu {
	width: 100%;
}

.chronium_studio-preferencesLayout-menuZone {
	padding-right: 0px;
	padding-left: 0px;
	height: 100%;
}

.chronium_studio-preferencesLayout-menu .nav-list {
	padding-right: 0px;
	padding-left: 0px;
}

.chronium_studio-preferencesLayout-menuZone .nav-list label {
	width: 100%;
	height: 30px;
	padding: 6px 10px;
}

.chronium_studio-preferencesLayout-menuZone .nav-list .tree label {
	padding-left: 20px;
}

.chronium_studio-preferencesLayout-menuZone .nav-list .tree a {
	padding-left: 30px;
}

.chronium_studio-preferencesLayout-menuZone .nav-list label:ACTIVE,.chronium_studio-preferencesLayout-menuZone .nav-list label:FOCUS
	{
	background-color: #EEEEEE;
}

.chronium_studio-newConnectionForm {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 380px;
}

.chronium_studio-preferencesLayout-zoneHeader {
	height: 35px;
	background-color: #F2F1F0;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
}

.chronium_studio-preferencesLayout-workZone-header-infoZone {
	padding: 0px;
}

.chronium_studio-preferencesLayout-zoneHeader>.gwt-Label {
	float: left;
	margin-left: 5px;
}

.chronium_studio-preferencesLayout-workZone-header-infoZone .gwt-Label {
	float: left;
	margin-left: 10px;
}

.chronium_studio-preferencesLayout-menu .tree-toogler:hover { 
    background-color: #EEEEEE;
} 

/*********************************
*	TOOLBAR
*********************************/
.chronium_studio-toolbar {
	height: 40px;
	border: 1px solid #CCCCCC;
	padding: 2px;
	top: 0px;
	position: absolute;
	width: 100%;
}

.chronium_studio-toolbar div {
	height: 100%;
}

.chronium_studio-toolbar-actions button {
	width: auto;
	border-width: 0px;
}

.chronium_studio-toolbar-info-zone {
	border-left: 1px solid #CCCCCC;
	margin-left: -3px;
}

.chronium_studio-toolbar-info-lastsaved {
	border-left: 1px solid #CCCCCC;
}

.chronium_studio-toolbar-info .gwt-Label {
	padding: 6px 12px;
}

.chronium_studio-toolbar-info {
	
}

.chronium_studio-toolbar-info-titleZone {
	text-align: center;
}

.chronium_studio-toolbar-info-titleZone span {
	line-height: 33px;
}

.chronium_studio-toolbar-info-titleZone-mainTitle,.chronium_studio-editorView-filename
	{
	font-weight: bold;
	margin-right: 10px;
}

.chronium_studio-toolbar-info-titleZone-secondaryTitle,.chronium_studio-editorView-contentType
	{
	text-transform: lowercase;
	margin-left: 10px;
}

.chronium_studio-toolbar-info-titleZone-mainTitle,.chronium_studio-processesView-processName
	{
	font-weight: bold;
	margin-right: 10px;
}

.chronium_studio-toolbar-info-titleZone-secondaryTitle,.chronium_studio-processesView-scriptName
	{
	text-transform: lowercase;
	margin-left: 10px;
}

.chronium_studio-container-zone {
	width: 100%;
}

.chronium_studio-toolbar-actions-optionsButton {
	float: right;
}

.chronium_studio-toolbar-actions-optionsButton .dropdown-menu {
	left:-100px;	
	top:50px;
}

.chronium_studio-toolbar-actions-preferencesButton {
	float: right;
}

.chronium_studio-toolbar-actions-closeButton {
	float: right;
}

.chronium_studio-executeForm-saveZone {
	margin-left: 1px;
	margin-top: 51px;
}

/********************************************
*		LIST
********************************************/
.chronium_studio-list {
	height: 100%;
	position: relative;
	border-right: 1px solid #CCC;
}

.chronium_studio-list-container-zone {
	width: 100%;
}

/************************
*	SCRIPTS EDITOR
*************************/
.chronium_studio-scriptsEditorContainer {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

.chronium_studio-scriptsEditorArea {
	height: 100%;
}

/********************************************************
*			PROCESS
*********************************************************/
.chronium_studio-projectConfigureDeckPanel {
	width: 100%;
}

.chronium_studio-header-actions {
	height: 35px;
	background-color: #F2F1F0;
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

.chronium_studio-processConfigureNodesListZone {
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.chronium_studio-processConfigureNodesInfoZone>.panel {
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.chronium_studio-processConfigureNodesVariableList {
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.chronium_studio-processConfigureNodesInfoZone>.panel-default>.panel-heading
	{
	height: 35px;
	background-color: rgb(242, 241, 240);
	border-bottom: 1px solid rgb(204, 204, 204);
	padding: 5px;
	font-weight: bold;
}

.chronium_studio-processConfigureNodesInfoZone>.panel-default>.panel-heading>.panel-title
	{
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	visibility: visible;
	white-space: nowrap;
}

.chronium_studio-processConfigureNodesRightZone {
	padding-left: 0px;
	padding-right: 0px;
}

.chronium_studio-processConfigureNodesLeftZone {
	padding-left: 0px;
	padding-right: 0px;
}

.chronium_studio-nodeList-container .glyphicon-exclamation-sign{
    float: right;
	color: #C61D1D;
	padding-right: 5px;
	margin-top: 2px;
}

.chronium_studio-nodeList-addElement {
	color: #333333;
}

.chronium_studio-nodeList-addElement > span {
	float: left;
	padding-right: 10px;
}

.chronium_studio-projectProcess-nodeInfo-Label {
	float: left;
	padding-left: 0px;
	font-weight: bold;
}
.chronium_studio-projectProcess-nodeInfo-contentLabel {
	float: left;
}

.chronium_studio-projectProcess-nodeInfo-LabelZone {
	padding-right: 0px;
	padding-left: 0px;
}

.chronium_studio-processAddNodeFormContainer {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgb(136, 136, 136);
	width: 420px;
	height: 240px;
}

.chronium_studio-processConfigureAddNodeVariables textarea {
	resize: none;
	overflow-y: scroll;
	width: 200px;
	height: 120px;
}

.chronium_studio-processConfigureVariablesZone {
	padding-left: 0px;
	padding-right: 0px;
	border-right: 1px solid #CCCCCC;
	height: 100%;
}

.chronium_studio-processConfigurePropertiesZone {
	padding-left: 0px;
}

.chronium_studio-processConfigurePropertiesCheckBox {
	padding: 15px;
}

.chronium_studio-processConfigurePropertiesCheckBox .aegwt-checkbox {
	height: 20px;	
}

.chronium_studio-processConfigurePropertiesCheckBox .aegwt-checkbox-checkZone {
	float: left;
}

.chronium_studio-processConfigurePropertiesCheckBox .aegwt-checkbox-labelZone {
	float: left;
	line-height: 1.5;
	margin-left: 5px;
}

.chronium_studio-processConfigureScheduleZone {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	border-right: 1px solid #CCCCCC;
}

.chronium_studio-processConfigureVariablesFormSubmitButton {
	margin-left: 15px;
}

.chronium_studio-header-actions .gwt-Label {
	padding-left: 0px;
}

.chronium_studio-header-actions button {
	margin-top: -3px;
	height: 30px;
	border-width: 0px;
	background-color: rgb(242, 241, 240);
	width: 60px;
	float: right;
}

.chronium_studio-header-actions .btn:hover {
	background-color: rgb(184, 184, 184);
}

.chronium_studio-header-actions .btn:focus {
	background-color: rgb(184, 184, 184);
}

.chronium_studio-header-actions>.col-xs-10 {
	padding-left: 0px;
}

.bootstrap-filestyle label {
	margin-top: -3px;
	height: 30px;
	border-width: 0px;
	background-color: rgb(242, 241, 240);
	width: 100px;
}

.bootstrap-filestyle .btn .badge {
	display: none;
}

.bootstrap-filestyle .btn:focus {
	background-color: rgb(184, 184, 184);
}

.bootstrap-filestyle .btn:hover {
	background-color: rgb(184, 184, 184);
}

.bootstrap-filestyle {
	float: right;
}

.chronium_studio-header-actions-with-label-button {
	float: right;
}

.chronium_studio-processConfigureNodesSelectionZone {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	border-right: 1px solid #CCCCCC;
	margin-left: -15px;
}

.chronium_studio-processConfigureNodesPropertiesZone {
	padding-left: 0px;
}

.chronium_studio-processConfigureZone {
	height: 299px;
}

.chronium_studio-processConfigureVariablesFormContainer {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 500px;
}

.chronium_studio-processConfigureScheduleFormContainer {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 500px;
}

.chronium_studio-processConfigureScheduleFormContainer .form-control {
	margin-bottom: 15px;
}

.chronium_studio-processConfigureZone {
	padding-right: 0px;
	padding-left: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	top: 0px;
}

.chronium_studio-processConfigure {
	position: absolute;
	width: 100%;
	bottom: 0px;
	top: 0px;
}

.chronium_studio-processConfigureNodesZone {
	bottom: 0px;
	height: auto;
	top: 298px;
	position: absolute;
	width: 100%;
	right: 0px;
}

.chronium_studio-processConfigureScheduleFormSaveZone {
	margin-top: 5px;
}

.chronium_studio-nodeList-container .nav-list {
	padding-left: 5px;
	padding-right: 5px;
}

.chronium_studio-nodeList-container .nav>li>a {
	padding: 0px;
}

.chronium_studio-nodeList-container .nav .nav-divider {
	margin: 5px 0px;
}

.chronium_studio-processConfigurePropertiesCheckBox .gwt-Label {
	margin-left: 20px;
	font-weight: bold;
}

.chronium_studio-processConfigurePropertiesCheckBox .aegwt-checkbox-checkZone {
	float:	left;
}

.chronium_studio-processAddNodeListFormContainer {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 380px;
}

/*****************************************
*			LOGGER
******************************************/
.chronium_studio-execution-loggerTabs {
	overflow: visible;
}

.chronium_studio-execution-loggerContainer .pager {
	margin-top: 10px;
	margin-bottom:20px;
}

.pager li > a {
	border-radius: 4px;
}

.chronium_studio-execution-loggerContainer .panel-heading {
	height: 35px;
}

.chronium_studio-execution-loggerContainer {
	margin-top: 10px;
}

.chronium_studio-execution-loggerContainer .panel-heading .accordion-toggle>.header
	{
	font-size: 12px;
	float: left;
	width: 50%;
}

.chronium_studio-execution-loggerContainer .panel-heading .accordion-toggle>.subElementHeader
	{
	font-size: 12px;
	color: #999999;
	float: left;
	width: 50%;
}

.chronium_studio-execution-loggerTabsResponseZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.chronium_studio-execution-loggerTabsPromptZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.chronium_studio-execution-loggerTabsRequestZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.chronium_studio-execution-loggerTabsContentZone>.gwt-Label {
	margin-top: 10px;
	font-size: 13px;
	color: #999999;
}

.chronium_studio-execution-loggerTabs .panel-body {
	padding: 10px;
}

.chronium_studio-execution-loggerTabs .panel-heading {
	padding: 10px;
	background-color: #F9F9F9;
}

.chronium_studio-execution-loggerFilterPanelFormDateTime {
	margin-bottom: 15px;
	padding-left: 5px;
}

.chronium_studio-execution-loggerFilterPanel .aegwt-bootstrapForm-buttonsZone {
	padding-left: 0px;
}

.chronium_studio-execution-loggerFilterPanelForm .gwt-RadioButton > label {
	margin-left: 10px;
}

.chronium_studio-execution-loggerFilterPanelFormSeverityZone {
	padding-left: 0px;
}

.chronium_studio-execution-loggerFilterPanel .header {
	width: 100% !important;
	height: 35px;
	font-size: 16px !important;
	font-weight: bold;
	margin-left: -15px;
	padding-left: 15px;
	padding-top: 10px;
	margin-top:-10px
}

.chronium_studio-execution-loggerTabs .header {
	margin-left: -10px;
	padding-left: 10px;
	margin-top: -10px;
	padding-top: 10px;
	height: 35px;
	font-size: 13px;
	font-weight: bold;
}

.chronium_studio-execution-loggerTabs .subElementHeader {
	height: 35px;
	margin-left: -10px;
	padding-left: 10px;
	margin-top: -10px;
	padding-top: 10px;
}

.chronium_studio-execution-loggerFilterPanel .panel-heading {
	background-color: #9A9A9A;
	border-radius: 4px;
}

.chronium_studio-execution-loggerFilterPanel .icon {
	height: 35px;
	margin-left: -15px;
	margin-top: -12px;
	padding-top: 10px;
	float: right;
}

.chronium_studio-execution-loggerTabs .icon {
	height: 35px;
	margin-left: -15px;
	margin-top: -12px;
	padding-top: 10px;
	float: right;
}

.chronium_studio-execution-loggerFilterPanel {
	margin-bottom: 10px;
}

/*****************************************
*			PREFERENCES
******************************************/
.chronium_studio-preferencesLayout-workZone {
	height: 100%;
}

.chronium_studio-preferencesConnectionView {
	height: 100%;
}

.chronium_studio-preferencesMachineDeckPanel {
	height: 100%;
	padding-left:0px;
	padding-right: 0px;
}

.chronium_studio-preferencesMachineDeckPanel .aegwt-bootstrapForm-buttonsZone .btn {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.chronium_studio-preferencesMachineDeckPanel .aegwt-bootstrapForm-buttonsZone .btn:hover {
	background-color: #F2F1F0;
}

.chronium_studio-preferencesUserConfigureForm {
	margin-top: 20px;
}

/*****************************************
*			AUTHENTICATION
******************************************/
.chronium_studio-authenticationForm {
	position: relative;
	background-color: #f5f5f5;
	padding: 30px 30px 20px;
	font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	width: 460px;;
	height: 400px;
	text-align: center;
	margin: 10% auto;
}

.chronium_studio-authenticationForm-description {
	margin-top: 30px;
	font-size: 15px;
}

.chronium_studio-authenticationForm-container{
    position: relative;
    min-height: 170px;
    padding: 0px 5px;
}


.chronium_studio-authenticationForm-container .chronium_studio-authenticationForm-error {
	margin-top: 10px;
	padding: 5px 5px;
	min-height: 55px;
}


.chronium_studio-authenticationForm-actionButton {
    position: absolute;
    top: 287px;
    left: 0px;
    width: 100%;
    padding: 0px 35px;
    

}

.chronium_studio-authenticationForm-actionButton button {
     background: linear-gradient(to bottom, rgb(30, 75, 99) 0%, rgb(0, 30, 45) 100%, rgb(0, 30, 45) 100%) repeat scroll 0% 0% transparent;
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
    border-color: rgb(14, 35, 46);
    border-radius: 2px;
    width: 100%;
}


.chronium_studio-authenticationForm-fieldsZone > input, .chronium_studio-authenticationForm-fieldsZone > div {
    width: 100%;
    margin-top: 5px;
}

.chronium_studio-authenticationForm-fieldsZone .gwt-SuggestBox {
	padding: 0px 10px;
}

.chronium_studio-passwordTextBox .aegwt-passwordBox-textBoxZone input {
	width: 100%;
}

.chronium_studio-authenticationForm-fieldsZone .gwt-SuggestBox,.chronium_studio-authenticationForm-fieldsZone  .chronium_studio-passwordTextBox {
	background-color: #ffffff;
	height: 35px;
	border-color: #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width: 1px;
}

.chronium_studio-passwordTextBox .aegwt-passwordBox-checkBoxZone {
	background-color: #dddddd;
	height: 100%;
	color: #777777;
	font-size: 15px;
	text-transform: lowercase;
	cursor: default;
	padding-top: 6px;
}

.chronium_studio-passwordTextBox .sndo-passwordCheckBox {
	height: 100%;
	width: 100%;
}

.chronium_studio-passwordTextBox .sndo-passwordCheckBox .aegwt-checkbox-checkZone {
	margin-top: 7px;
	padding: 0px;
	padding-left: 5px;
}

.chronium_studio-passwordTextBox .sndo-passwordCheckBox .aegwt-checkbox-labelZone {
	margin-top: 5px;
	padding: 0px;
}

.chronium_studio-passwordTextBox .aegwt-passwordBox-checkBoxZone .gwt-CheckBox {
	width: 100%;
	line-height: 35px;
}

.chronium_studio-passwordTextBox .aegwt-passwordBox-checkBoxZone .gwt-CheckBox label
	{
	padding-left: 6px;
	font-weight: normal;
}

.chronium_studio-passwordTextBox>div {
	padding: 0px;
}

/*****************************************
*			ERROR FORM
******************************************/

.chronium_studio-formError {
	background-color: #ffcdcd;
	padding: 10px 15px;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #cccccc;
}

.chronium_studio-preferencesMachineConfigureForm {
	margin-top: 20px;

}

/*****************************************
*			COMMON
******************************************/

.dropdown .dropdown-toggle {
	margin-bottom: 15px;
}

.dropdown .dropdown-menu {
	margin-top: -15px;
}

.gwt-Label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.gwt-Button {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.chronium_studio-server-textbox {
	margin-top: 10px;
	margin-left: -35px;
}

.chronium_studio-server-label {
	margin-top: 17px;
}

.chronium_studio-user-textbox {
	margin-top: 10px;
	margin-left: -39px;
}

.chronium_studio-user-label {
	margin-top: 17px;
}

.chronium_studio-password-textbox {
	margin-top: 10px;
	margin-left: -117px;
}

.chronium_studio-password-label {
	margin-top: 17px;
}

.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}
