/**************************************
*			LAYOUT
***************************************/
.dslam_studio-projectsLayout {
	height: 100%;
	position: relative;
}

.dslam_studio-projectsLayout-bottomZone {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	height: auto;
}

.dslam_studio-projectsLayout-bottomZone-right {
	height: 100%;
	padding: 0px;
	position: relative;
}

.dslam_studio-projectsLayout-projectWorkZone-header {
	position: absolute;
	top: 0px;
	width: 100%;
}

.dslam_studio-projectsLayout-projectWorkZone {
	position: absolute;
	top: 35px;
	width: 100%;
	bottom: 0px;
}


.dslam_studio-projectsLayout-projectWorkZone > div {
	height: 100%;
}
.dslam_studio-projectsLayout-projectWorkZone .dslam_studio-projectsLayout-contentInBox
	{
	border-radius: 3px;
	box-shadow: 0px 0px 3px #B8B8B8;
	margin: 10px;
	width: auto !important;
	height: auto !important;
}

.dslam_studio-projectsLayout-projectWorkZone-header-infoZone-modIndicator {
	margin-right: -8px;
}

.dslam_studio-projectsLayout-listZone {
	padding-right: 0px;
	padding-left: 0px;
	height: 100%;
}

.dslam_studio-projectsLayout-listZone .nav-list label {
	width: 100%;
	height: 30px;
	padding: 6px 10px;
}

.dslam_studio-projectsLayout-listZone .nav-list .tree label {
	padding-left: 20px;
}

.dslam_studio-projectsLayout-listZone .nav-list .tree a {
	padding-left: 30px;
}

.dslam_studio-list-container .nav-divider {
	margin: 5px 0px;
}

.dslam_studio-list-container .nav-list {
	padding-right: 0px;
	padding-left:0px;
}

.dslam_studio-list-container label{
	margin-bottom: 0px;

}

.dslam_studio-projectsLayout-listZone .nav-list label:ACTIVE,.dslam_studio-projectsLayout-listZone .nav-list label:FOCUS
	{
	background-color: #EEEEEE;
}

.dslam_studio-newProjectForm {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 380px;
}

.dslam_studio-projectsLayout-zoneHeader {
	height: 35px;
	background-color: #F2F1F0;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
}

.dslam_studio-projectsLayout-projectWorkZone-header-infoZone {
	padding: 0px;
}

.dslam_studio-projectsLayout-zoneHeader>.gwt-Label {
	float: left;
	margin-left: 5px;
}

.dslam_studio-projectsLayout-projectWorkZone-header-infoZone .gwt-Label {
	float: left;
	margin-left: 10px;
}

/*********************************
*	TOOLBAR
*********************************/
.dslam_studio-toolbar {
	height: 40px;
	border: 1px solid #CCCCCC;
	padding: 2px;
	top: 0px;
	position: absolute;
	width: 100%;
}

.dslam_studio-toolbar div {
	height: 100%;
}

.dslam_studio-toolbar-actions button {
	width: auto;
	border-width: 0px;	
}

.dslam_studio-toolbar-info-zone {
	border-left: 1px solid #CCCCCC;
	margin-left: -3px;
}

.dslam_studio-toolbar-info-lastsaved {
	border-left: 1px solid #CCCCCC;
}

.dslam_studio-toolbar-info .gwt-Label {
	padding: 6px 12px;
}

.dslam_studio-toolbar-info {
	
}

.dslam_studio-toolbar-info-titleZone {
	text-align: center;
}

.dslam_studio-toolbar-info-titleZone span {
	line-height: 33px;
}

.dslam_studio-toolbar-info-titleZone-mainTitle,.dslam_studio-editorView-filename
	{
	font-weight: bold;
	margin-right: 10px;
}

.dslam_studio-toolbar-info-titleZone-secondaryTitle,.dslam_studio-editorView-contentType
	{
	text-transform: lowercase;
	margin-left: 10px;
}

.dslam_studio-toolbar-info-titleZone-mainTitle,.dslam_studio-processesView-processName
	{
	font-weight: bold;
	margin-right: 10px;
}

.dslam_studio-toolbar-info-titleZone-secondaryTitle,.dslam_studio-processesView-scriptName
	{
	text-transform: lowercase;
	margin-left: 10px;
}

.dslam_studio-container-zone {
	width: 100%;
}

.dslam_studio-toolbar-actions-preferencesButton {
	float: right;
}

/********************************************
*		LIST
********************************************/
.dslam_studio-list {
	height: 100%;
	position: relative;
	border-right: 1px solid #CCC;
}

.dslam_studio-list-container-zone {
	width: 100%;
}

/************************
*	SCRIPTS EDITOR
*************************/
.dslam_studio-scriptsEditorContainer {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

.dslam_studio-scriptsEditorArea {
	height: 100%;
}

/********************************************************
*			PROCESS
*********************************************************/
.dslam_studio-projectConfigureDeckPanel {
	width: 100%;
}

.dslam_studio-header-actions {
	height: 35px;
	background-color: #F2F1F0;
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom:5px;
}

.dslam_studio-processConfigureNodesListZone {
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.dslam_studio-processConfigureNodesInfoZone>.panel {
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.dslam_studio-processConfigureNodesVariableList {
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgb(184, 184, 184);
	margin: 10px;
}

.dslam_studio-processConfigureNodesInfoZone>.panel-default>.panel-heading
	{
	height: 35px;
	background-color: rgb(242, 241, 240);
	border-bottom: 1px solid rgb(204, 204, 204);
	padding: 5px;
	font-weight: bold;
}

.dslam_studio-processConfigureNodesInfoZone>.panel-default>.panel-heading>.panel-title
	{
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	visibility: visible;
	white-space: nowrap;
}

.dslam_studio-processConfigureNodesRightZone {
	padding-left: 0px;
	padding-right: 0px;
}

.dslam_studio-processConfigureNodesLeftZone {
	padding-left: 0px;
	padding-right: 0px;
}

.dslam_studio-processConfigureVariablesZone {
	padding-left: 0px;
	padding-right: 0px;
	border-right: 1px solid #CCCCCC;
	height: 100%
}

.dslam_studio-processConfigurePropertiesZone {
	padding-left: 0px;
}

.dslam_studio-processConfigurePropertiesCheckBox {
	padding: 15px;
}

.dslam_studio-processConfigureScheduleZone {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	border-right: 1px solid #CCCCCC;
}

.dslam_studio-processConfigureVariablesFormSubmitButton {
	margin-left: 15px;
}

.dslam_studio-header-actions .gwt-Label {
	padding-left: 0px;
}

.dslam_studio-header-actions button {
	margin-top: -3px;
	height: 30px;
	border-width: 0px;
	background-color: rgb(242, 241, 240);
	width: 60px;
	float: right;
}

.dslam_studio-header-actions .btn:hover {
	background-color: rgb(184, 184, 184);
}

.dslam_studio-header-actions .btn:focus {
	background-color: rgb(184, 184, 184);
}

.dslam_studio-header-actions>.col-xs-10 {
	padding-left: 0px;
}

.bootstrap-filestyle label {
	margin-top: -3px;
	height: 30px;
	border-width: 0px;
	background-color: rgb(242, 241, 240);
	width: 100px;
}

.bootstrap-filestyle .btn .badge {
	display: none;	
}

.bootstrap-filestyle .btn:focus {
	background-color: rgb(184, 184, 184);
}

.bootstrap-filestyle .btn:hover {
	background-color: rgb(184, 184, 184);
}

.bootstrap-filestyle {
	float: right;
}

.dslam_studio-header-actions-with-label-button {
	float: right;
}

.dslam_studio-processConfigureNodesSelectionZone {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	border-right: 1px solid #CCCCCC;
	margin-left: -15px;
}

.dslam_studio-processConfigureNodesPropertiesZone {
	padding-left: 0px;
}

.dslam_studio-processConfigureZone {
	height: 299px;
}

.dslam_studio-processConfigureVariablesFormContainer {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 500px;
}

.dslam_studio-processConfigureScheduleFormContainer {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
	width: 500px;
}

.dslam_studio-processConfigureScheduleFormContainer .form-control {
	margin-bottom: 15px;
}

.dslam_studio-processConfigureZone {
	padding-right: 0px;
	padding-left: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	top: 0px;
}

.dslam_studio-processConfigure {
	position: absolute;
	width: 100%;
	bottom: 0px;
	top: 0px;
}

.dslam_studio-processConfigureNodesZone {
	bottom: 0px;
	height: auto;
	top: 298px;
	position: absolute;
	width: 100%;
	right: 0px;
}

.dslam_studio-processConfigureScheduleFormSaveZone {
	margin-top: 5px;
}

.dslam_studio-nodeList-container .nav-list {
	padding-left: 5px;
	padding-right: 5px;
}

.dslam_studio-nodeList-container .nav > li > a {
	padding: 0px;
}

.dslam_studio-nodeList-container .nav .nav-divider {
	margin: 5px 0px;
}

/*****************************************
*			EXECUTE
******************************************/

.dslam_studio-execution-loggerContainer .panel-heading {
	height: 42px;
}

.dslam_studio-execution-loggerContainer {
	margin-top: 10px;
}

.dslam_studio-execution-loggerContainer .panel-heading .accordion-toggle >.header {
	font-size: 13px;
	float: left;
	width: 48%;	
}

.dslam_studio-execution-loggerContainer .panel-heading .accordion-toggle >.subElementHeader {
	font-size: 13px;
	color: #999999;	
	float: left;
	width: 48%;
}

.dslam_studio-execution-loggerTabsResponseZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.dslam_studio-execution-loggerTabsPromptZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.dslam_studio-execution-loggerTabsRequestZone .gwt-Label {
	color: #000000;
	font-size: 14px;
}

.dslam_studio-execution-loggerTabsContentZone >.gwt-Label {
	margin-top: 10px;
	font-size: 13px;
	color: #999999;
}

.dslam_studio-execution-loggerTabs .panel-body {
	padding: 10px;
}

.dslam_studio-execution-loggerTabs .panel-heading {
	padding: 10px;
}

/*****************************************
*			COMMON
******************************************/
.gwt-Label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.gwt-Button {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dslam_studio-server-textbox {
	margin-top: 10px;
	margin-left: -35px;
}

.dslam_studio-server-label {
	margin-top: 17px;
}

.dslam_studio-user-textbox {
	margin-top: 10px;
	margin-left: -39px;
}

.dslam_studio-user-label {
	margin-top: 17px;
}

.dslam_studio-password-textbox {
	margin-top: 10px;
	margin-left: -117px;
}

.dslam_studio-password-label {
	margin-top: 17px;
}

.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}
