.dslam_studio-editorView {
	height: 100%;
}

.dslam_studio-editorView-bottomZone {
	height: 100%;
}

.dslam_studio-toolbar {
	height: 40px;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.dslam_studio-toolbar div {
	height: 100%;
}

.dslam_studio-toolbar-file_actions-zone {
	border-right: 1px solid #CCCCCC;
}

.dslam_studio-toolbar-file_actions button {
	width: 100%;
	border-width: 0px;
}

.dslam_studio-toolbar-file_info-close button {
	float: right;
}

.dslam_studio-toolbar-file_info-lastsaved {
	border-left: 1px solid #CCCCCC;
}

.dslam_studio-toolbar-file_info .gwt-Label {
	padding: 6px 12px;
}

.dslam_studio-toolbar-file_info {
	
}

.dslam_studio-toolbar-file_info-filename {
	text-align: right;
}

.dslam_studio-toolbar-file_info-lastsaved {
	text-align: left;
}

.dslam_studio-toolbar-file_info-close button {
	border-width: 0px;
}

.dslam_studio-filelist-zone {
	padding-right: 0px;
}

.dslam_studio-processlist-zone {
	padding-right: 0px;
}

.dslam_studio-filelist {
	height: 100%;
	position: relative;
}

.dslam_studio-filelist-header {
	height: 35px;
	background-color: #F2F1F0; border : 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}

.dslam_studio-filelist-container-zone {
	width:100%;
}

.dslam_studio-filelist-element {
	width: 100%;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.dslam_studio-filelist-element button {
	width: 75%;
	border-radius: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

.dslam_studio-filelist-element .dropdown-toggle {
	width: 25%;
	border-right-width: 0px;
}

.dslam_studio-filelist-element .dropdown-toggle:HOVER, .dslam_studio-filelist-element .dropdown-toggle:ACTIVE, .dslam_studio-filelist-element .dropdown-toggle:FOCUS {
	z-index: 0;
}

.dslam_studio-filelist-element .dropdown-menu {
	left: auto;
	right: 0px;
	float: right;
}

.dslam_studio-editorZone {
	padding-left: 0px;
	height: 100%;
}

.dslam_studio-newScriptForm {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

.gwt-Label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.gwt-Button {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
